{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "features": "./src/features",
        "common": "./src/common"
      }
    }]
  ]
}